html {
  font-size: 12px;
  box-sizing: border-box;
}

@media (min-width: 600px){
  html {
    font-size: 1rem;
  }
}

*, *::before, *::after {
  box-sizing: border-box;
}


body {
  margin: 0;
  font-family: 'Rubik', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: linear-gradient(135deg, #B3E5FC 0%, #B3E5FC 50%, #F06292 50%, #F06292 100%);
  color: #555;
}



code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}